<section class="icon-section">
    <div class="icon">
      <img src="assets/icons/icon1.jpg" alt="Icon 1">
      <h3>Training</h3>
      <p>Our coaches provide you with the appropriate training for your body!</p>
    </div>
    <div class="icon">
      <img src="assets/icons/icon2.jpg" alt="Icon 2">
      <h3>Yoga</h3>
      <p>Here, you can find the best yoga coaches that will help you unlock your true inner spirit.</p>
    </div>
    <div class="icon">
      <img src="assets/icons/icon3.jpg" alt="Icon 3">
      <h3>Power</h3>
      <p>Want to achieve more power? Join our strongest coaches that will give you relentless exercises.</p>
    </div>
  </section>
  