
<main>
    <!-- Image section -->
    <section class="image-section">
      <div class="image-wrapper">
        <img src="assets/Images/home2.jpg" alt="Description of your image">
      </div>
      <div class="image-caption">
        <h2>Discover More</h2>
        <p>ATHLETEHUB FOR YOU.</p>
      </div>
    </section>
    <section class="main-content">
        <h1>WELCOME TO ATHLETE HUB</h1>
      </section>
    <!-- Icon section -->
  <app-icon-section></app-icon-section>

  <section class="image-section2">
      <img style="flex-grow: 1;" src="assets/Images/home3.jpg" alt="Description of your image">
  </section>

  <div class="cards-container-title">
   <h1>OUR PRICE</h1>
 </div>
 <div class="cards-container">
    <app-price-card
      title="Basic Plan Training"
      price="$9.99"
      [features]="['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4', 'Feature 5']"
      (select)="onSelect('Basic Plan')">
    </app-price-card>
    <app-price-card
      title="Standard Plan Training"
      price="$19.99"
      [features]="['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4', 'Feature 5']"
      buttonText="Choose Standard"
      (select)="onSelect('Standard Plan')">
    </app-price-card>
    <app-price-card
      title="Premium Plan "
      price="$29.99"
      [features]="['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4', 'Feature 5']"
      buttonText="Choose Premium"
      (select)="onSelect('Premium Plan')">
    </app-price-card>
  </div>
  
  
  </main>
