.background{
  background-image: url("../../../../../assets/Images/register.jpg");
  background-size: cover;
  display:flex;
  flex-grow: 1;
  flex-direction: column;
}
h2{
  color: white;
}
.card{
  background-color: rgba(255, 255, 255, 0.6);
}
button{
  background-color:#f98c00 !important;
  border-color: transparent !important;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
  