<div class="background">

  <div class="container my-3">
    <h2>Your Subscriptions</h2>
  
    <div class="row">
      <div class="card mt-2" *ngFor="let subscription of subscriptions">
        <div class="card-body">
          <h1 class="card-title">
            {{ subscription.name }}
          </h1>
          <div>
            <p>Price: {{ subscription.price | currency }}</p>
            <p>Duration: {{ subscription.durationInMonths }} months</p>
            <ul>
              <li *ngFor="let feature of subscription.subscribtionsFeatures">
                {{ feature.name || 'Feature description not available' }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <div class="pagination-controls">
      <button class="btn btn-primary" (click)="onPageChange(pageNumber - 1)" [disabled]="pageNumber === 1">Previous</button>
      <p>Page {{ pageNumber }} / {{ totalPages }}</p>
      <button class="btn btn-primary" (click)="onPageChange(pageNumber + 1)" [disabled]="pageNumber >= totalItems / pageSize">Next</button>
    </div>
  </div>
  
</div>