.background {
    background-image: url("../../../../../assets/Images/register.jpg");
    background-size: cover;
    display:flex;
    flex-grow: 1;
    flex-direction: column;
}
.container{
    color:white;
    width:50%;
}