<div class="background justify-content-around">
  <div class="container">
    <h2>Confirm Password Reset</h2>
    <form (ngSubmit)="confirmReset()">

      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="confirmNewPassword">Confirm New Password:</label>
        <input type="password" id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="confirmNewPassword" class="form-control" required>
      </div>
      <div *ngIf="successMessage" class="alert alert-success mt-3">
        {{ successMessage }}
      </div>


      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
      <button type="submit" class="btn btn-primary mt-2">Confirm Reset</button>
    </form>
  </div>
</div>
  