.background {
    background-image: url("../../../../../assets/Images/FavouriteCoaches.jpg");
    background-size: cover;
    display:flex;
    flex-grow: 1;
    flex-direction: column;
}
.container{
    color:white;
    width:50%;
}
img{
    width: 100px;
    height: 100px;
}
.card{
    background-color: rgba(255, 255, 255, 0.7);
}
button{
    background-color:#f98c00 !important;
    border-color: transparent;
}
button:hover{
    background-color: #a78016 !important;
    border-color: transparent;
    transition: all 0.3s ease;
}
button:focus{
    border-color: transparent !important;
}