
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form #loginForm="ngForm">

        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Email/Username"
            [(ngModel)]="user.userNameOrEmail"
            name="email"
            required
            email
            #email="ngModel"
          >
        </mat-form-field>
        <mat-form-field>
          <input
          type="password"
          matInput
          placeholder="Password"
          [(ngModel)]="user.password"
          name="password"
          required
          #password="ngModel"
          >
        </mat-form-field>
        <div *ngIf="validation" class="alert alert-danger mt-3">
          {{ validation }}
        </div>
        <div *ngIf="validationCoach" class="alert alert-success mt-3">
          {{ validationCoach }}
        </div>
        <div class="button1">
          <button type="submit" (click)="newLogin()">
            Login
          </button>
          <button [routerLink]="['/register']" >Create a new account</button>
        </div>

        <div class="button1">
        </div>
        <a [routerLink]="['/resetpassword']" ><strong>Forgot My Password?</strong></a>



      </form>
    </mat-card-content>
  </mat-card>



