:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url('../../../../../assets/Images/log.jpg');
  background-size: cover;
  background-position: center;
  //border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100vh; /* Ensure full viewport height */
}

mat-card {
  min-width:30%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;

  form {
    width: 95%;

    .mat-form-field {
      width: 100%;
      min-width: 300px;
      margin-bottom: 20px;
      background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .error {
      padding: 16px;
      width: 100%; /* Adjust width as necessary */
      color: white;
      background-color: #f44336;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 20px;
    }

    .button-container {
      display: flex;
      justify-content: center; /* Center buttons horizontally */
      margin-top: 20px; /* Adjust margin as needed */
    }

    button {
      padding: 8px 16px; /* Adjust padding for smaller buttons */
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: auto;
    }

    .button {
      display: flex;

      margin-block-end: 10px;

      button {
        background-color: #f98c00;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #a78016;
        }
      }
    }
    .button1 {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      button {
        background-color: #f98c00;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #a78016;
        }
      }
    }
  }
}
a{
  text-decoration: none;
}
