<!-- <div class="flex-wrapper">
  <app-nav-bar></app-nav-bar>
  <div class="flex-grow-1 d-flex flex-column">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <app-about-us></app-about-us>
  </footer>
  
</div> -->

<div class="flex-wrapper">
  <app-coachnavbar *ngIf="isCoachService.isCoach; else normalNav"></app-coachnavbar>
  <ng-template #normalNav>
    <app-nav-bar></app-nav-bar>
  </ng-template>
  <div style="flex-grow: 1;">
    <router-outlet></router-outlet>
  </div>
  <app-about-us></app-about-us>
</div>

