<div id="search-container" class="d-flex flex-grow-1 pt-3">
  <div class="d-flex flex-grow-1">
    <br>
    <aside class="d-flex col-lg-2 col-md-3 m-3">
      <div class="card filter-section flex-grow-1 p-3">
        <label for="genderFilter">Gender</label>
        <select id="genderFilter" class="form-control" (change)="updateGenderFilter($event)">
          <option value="">All</option>
          <option *ngFor="let gender of genderKeys" [value]="gender.value">{{ gender.key }}</option>
        </select>


        <label for="rateFilter">Rate</label>
        <select id="rateFilter" class="form-control" (change)="updateRateFilter($event)">
          <option value="">All</option>
          <option *ngFor="let rate of rateKeys" [value]="rate.value">{{ rate.key }}</option>
        </select>


        <label for="ageFilter">Age</label>
        <select id="ageFilter" class="form-control" (change)="updateAgeFilter($event)">
          <option value="">All</option>
          <option *ngFor="let age of ageKeys" [value]="age.value">{{ age.key }}</option>
        </select>


        <label for="priceFilter">Price</label>
        <select id="priceFilter" class="form-control" (change)="updatePriceFilter($event)">
          <option value="">All</option>
          <option *ngFor="let price of priceKeys" [value]="price.value">{{ price.key }}</option>
        </select>
      </div>
    </aside>
    <div class="flex-grow-1 align-content-start">
      <div class="col-1 search-bar">
        <input type="text" placeholder="Search coaches..." #searchInput>
        <button class="btn btn-primary ms-3" (click)="updateSearchCriteria(searchInput.value)"> Search </button>
      </div>
      <section class="d-flex row flex-grow-1" style="margin-right: 0px;">
        <div class="flex-grow-1 d-flex flex-wrap justify-content-around">
          <div class="card col-3 p-3 mx-5 mt-3" *ngFor="let coach of coaches">
            <div class="flex-grow-1" *ngIf="coaches.length; else noCoaches">
              <div class="d-flex">
                <div class="me-3">
                  <img class="rounded-circle border" src="{{ coach.sasProfilePicture === null? 'assets/Images/default-pp.jpg': coach.sasProfilePicture }}"/>
                </div>
                <div>
                  <h2><strong>{{ coach.firstName }} {{ coach.lastName }}</strong></h2>
                  <p><strong>Gender:</strong> {{ coach.gender === Gender.Male? "Male" : "Female" }}</p>
                  <p><strong>Ratings Count:</strong> {{ coach.ratingsCount }}</p>
                  <p><strong>Overall Rating:</strong> {{ coach.overallRating }}</p>
                </div>
              </div>
              <div class="align-content-end">
                <div>
                  <a [routerLink]="['/coachdetail', coach.id]"><button class="btn btn-primary w-100 mb-1">Details</button></a>
                </div>
                <div>
                  <button class="btn btn-secondary w-100" (click)="addToFavorite(coach.id)">Add to Favorites</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-self-end justify-content-between me-5">
          <button class="btn btn-primary" (click)="goToPage(currentPage - 1)" [disabled]="!hasPreviousPage">Previous</button>
          <button class="btn btn-primary" (click)="goToPage(currentPage + 1)" [disabled]="!hasNextPage">Next</button>
        </div>
      </section>
    </div>
  </div>
</div>
<ng-template #noCoaches>
  <p>There are no coaches with that criteria</p>
</ng-template>




 <!-- <div id="search-container" class="pt-3">
  <div class="d-flex">
    <aside class="col-lg-2 col-md-3 me-3">
      <div class="filter-section">
        <h5>Filters</h5>
        

        <label for="genderFilter">Gender</label>
        <select id="genderFilter" class="form-control" (change)="updateGenderFilter($event)">
          <option value="">All</option>
          <option *ngFor="let gender of genderKeys" [value]="gender.value">{{ gender.key }}</option>
        </select>


        <label for="rateFilter">Rate</label>
        <select id="rateFilter" class="form-control" (change)="updateRateFilter($event)">
          <option value="">All</option>
          <option *ngFor="let rate of rateKeys" [value]="rate.value">{{ rate.key }}</option>
        </select>


        <label for="ageFilter">Age</label>
        <select id="ageFilter" class="form-control" (change)="updateAgeFilter($event)">
          <option value="">All</option>
          <option *ngFor="let age of ageKeys" [value]="age.value">{{ age.key }}</option>
        </select>


        <label for="priceFilter">Price</label>
        <select id="priceFilter" class="form-control" (change)="updatePriceFilter($event)">
          <option value="">All</option>
          <option *ngFor="let price of priceKeys" [value]="price.value">{{ price.key }}</option>
        </select>
      </div>
    </aside>

    <div class="flex-grow-1 align-content-start">
      <div class="col-12 search-bar mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search coaches..."
          #searchInput
          (input)="updateSearchCriteria(searchInput.value)"
        >
      </div>
      <section class="d-flex flex-column flex-grow-1">
        <div class="d-flex flex-wrap">
          <div class="card col-3 p-3 m-2" *ngFor="let coach of coaches">
            <div *ngIf="coaches.length; else noCoaches">
              <div class="d-flex">
                <div class="me-3">
                  <img
                    class="rounded-circle border"
                    [src]="coach.sasProfilePicture || 'assets/Images/default-pp.jpg'"
                    alt="Profile Picture"
                  />
                </div>
                <div>
                  <h2><strong>{{ coach.firstName }} {{ coach.lastName }}</strong></h2>
                  <p><strong>Gender:</strong> {{ coach.gender }}</p>
                  <p><strong>Ratings Count:</strong> {{ coach.ratingsCount }}</p>
                  <p><strong>Overall Rating:</strong> {{ coach.overallRating }}</p>
                </div>
              </div>
              <div>
                <a [routerLink]="['/coachdetail', coach.id]">
                  <button class="btn btn-primary w-100 mb-1">Details</button>
                </a>
              </div>
              <div>
                <button class="btn btn-secondary w-100" (click)="addToFavorite(coach.id)">
                  Add to Favorites
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-self-end justify-content-between me-5 mt-3">
          <button class="btn btn-primary" (click)="goToPage(currentPage - 1)" [disabled]="!hasPreviousPage">
            Previous
          </button>
          <button class="btn btn-primary" (click)="goToPage(currentPage + 1)" [disabled]="!hasNextPage">
            Next
          </button>
        </div>
      </section>
    </div>
  </div>
</div>

<ng-template #noCoaches>
  <p>There are no coaches with that criteria</p>
</ng-template> -->
