<div *ngIf="subscriptions.length > 0">
    <h2>Subscriptions</h2>
    <ul>
      <li *ngFor="let subscription of subscriptions">
        <h3>{{ subscription.name }}</h3>
        <p>Price: {{ subscription.price }}</p>
        <p>Duration (months): {{ subscription.durationInMonths }}</p>
        <ul>
          <li *ngFor="let feature of subscription.subscriptionsFeatures">
            <p>{{ feature.name }}</p>
            <p>{{ feature.description }}</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="subscriptions.length === 0">
    <p>No subscriptions found.</p>
  </div>
  