<div class="background">
  <div class="subscription-container" *ngIf="subscriptions.length > 0">
    <h2>Subscriptions</h2>
    <div class="subscription-card" *ngFor="let subscription of subscriptions">
      <div class="card-header">
        <h3>{{ subscription.name }}</h3>
      </div>
      <div class="card-body">
        <p>Price: {{ subscription.price }}</p>
        <p>Duration (months): {{ subscription.durationInMonths }}</p>
        <div class="features-list">
          <h4>Features:</h4>
          <ul>
            <li *ngFor="let feature of subscription.subscribtionsFeatures">
              <p><strong>{{ feature.name }}:</strong> {{ feature.description }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="no-subscriptions" *ngIf="subscriptions.length === 0">
    <p>No subscriptions found.</p>
  </div>
</div>
