<header>
    <!-- Navigation bar -->
    <nav class="nav-bar">
        <h2 class="nav-logo">ATHLETEHUB</h2>
      <ul class="nav-left">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/sub">Dashboard</a></li>
        <li><a routerLink="/user-profile">Profile</a></li>
        <li><a routerLink="/coach">Coach</a></li>
        <li><a routerLink="/fav">Favorite Coaches</a></li>
        <li><a routerLink="/payment">Payment</a></li>
        <li><a routerLink="/coaches">Coaches</a></li>
      </ul> 

<ul class="nav-right">
  <li *ngIf="!isLoggedIn"><a routerLink="/public/login">Login</a></li>
  <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
</ul>
    </nav>
  </header>