<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="currentPassword">Current Password:</label>
      <input id="currentPassword" formControlName="currentPassword" type="password">
    </div>
    <div>
      <label for="newPassword">New Password:</label>
      <input id="newPassword" formControlName="newPassword" type="password">
    </div>
    <div>
      <label for="confirmNewPassword">Confirm New Password:</label>
      <input id="confirmNewPassword" formControlName="confirmNewPassword" type="password">
    </div>
    <button type="submit" [disabled]="changePasswordForm.invalid">Change Password</button>
  </form>
  