<div class="background">

  <div class="container py-5">
    <div class="card shadow-lg" style="border-color: #f98c00;">
    <div class="card-header text-white text-center" style="background-color: #f98c00; height: 45px;">
      <h2>Calorie Calculator</h2>
    </div>
    <div class="card-body">
      <form (ngSubmit)="calculateCalories()">
        <div class="form-group">
          <label for="weight">Weight (kg):</label>
          <input type="number" id="weight" [(ngModel)]="command.weight" name="weight" required class="form-control">
        </div>
        <div class="form-group">
          <label for="height">Height (cm):</label>
          <input type="number" id="height" [(ngModel)]="command.height" name="height" required class="form-control">
        </div>
        <div class="form-group">
          <label for="age">Age:</label>
          <input type="number" id="age" [(ngModel)]="command.age" name="age" required class="form-control">
        </div>
        <div class="form-group">
          <label for="gender">Gender:</label>
          <select id="gender" [(ngModel)]="command.gender" name="gender" required class="form-control custom-select">
            <option *ngFor="let g of genderKeys()" [value]="g">{{ g }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dailyActivityRate">Daily Activity Rate:</label>
          <select id="dailyActivityRate" [(ngModel)]="command.dailyActivityRate" name="dailyActivityRate" required class="form-control custom-select">
            <option *ngFor="let dar of dailyActivityRateKeys()" [value]="dar">{{ dar }}</option>
          </select>
        </div>
        <div class="text-center">
          <button type="submit" class="btn mt-2 btn-custom">Calculate</button>
        </div>
      </form>
      <div *ngIf="tdee !== null" class="mt-4">
        <h2 class="text-center">Your TDEE is: {{ tdee }} calories/day</h2>
      </div>
    </div>
  </div>
</div>

</div>