<header>
    <!-- Navigation bar -->
    <nav class="nav-bar">
        <h2 class="nav-logo">ATHLETEHUB</h2>
      <ul class="nav-left">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/sub">Dashboard</a></li>
        <!--<li><a routerLink="/user-profile">Profile</a></li>-->
        <!-- <li><a routerLink="/coach">Coach</a></li> -->
        <!-- <li><a routerLink="/fav">Favorite Coaches</a></li> -->
        <li><a routerLink="/addSubscription">AddSubscription</a></li> 
        <li><a routerLink="/getSubscription">Subscription</a></li> 
        <li><a routerLink="/accountsetting">Accountsetting</a></li>
        <li><a routerLink="/update-user">Profile</a></li>
        <li><a routerLink="/logoutme">logout</a></li>
      </ul> 

<ul class="nav-right">
  <li><a routerLink="/public/login">Login</a></li>
  <!-- <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li> -->

</ul>
    </nav>
  </header>